Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

Refactorings, improved sound signal handlers
  README.md
  package-lock.json
  package.json
  src/phaser/core/raf.js
  src/phaser/core/sound.js
  types/phaser/core/raf.d.ts
  types/phaser/core/raf.d.ts.map
  types/phaser/core/sound.d.ts.map
Due: eslint, prettier --write

Bumped package versions
  package-lock.json
Due: prettier --write

Improve capability checks, logging, type checking
  README.md
  package-lock.json
  package.json
  src/phaser/core/device_util.js
  src/phaser/core/sound.js
  src/phaser/core/sound_manager.js
  src/phaser/display/webgl/util.js
  src/phaser/geom/point.js
  types/phaser/core/device_util.d.ts.map
  types/phaser/core/sound.d.ts
  types/phaser/core/sound.d.ts.map
  types/phaser/core/sound_manager.d.ts.map
  types/phaser/display/webgl/util.d.ts.map
Due: eslint, prettier --write

Improved audio format detection handling (google search engine - GSA ua - does not support any audio formats)
  README.md
  package-lock.json
  package.json
  src/phaser/core/device.js
  src/phaser/core/device_util.js
  src/phaser/core/loader.js
Due: eslint, prettier --write

Bumped package versions
  package-lock.json
  package.json
Due: prettier --write

Improve type checking, fixed lint errors
  eslint.config.js
  src/phaser/core/array_set.js
  src/phaser/display/button.js
  types/phaser/display/button.d.ts
  types/phaser/display/button.d.ts.map
Due: eslint, prettier --write

Improve type checking
  README.md
  package-lock.json
  package.json
  src/phaser/core/factory.js
  src/phaser/display/group.js
  types/phaser/core/factory.d.ts
  types/phaser/core/factory.d.ts.map
Due: eslint, prettier --write

Improve test coverage
  jest.config.js
  src/phaser/geom/circle.test.js
  src/phaser/geom/ellipse.test.js
  src/phaser/geom/point.test.js
  src/phaser/geom/rectangle.test.js
  src/phaser/geom/rounded_rectangle.test.js
  src/phaser/geom/util/point.js
  src/phaser/util/math.test.js
Due: eslint, prettier --write

Improved test coverage
  src/phaser/geom/line.test.js
  src/phaser/geom/matrix.test.js
  src/phaser/geom/rectangle.test.js
Due: eslint, prettier --write

Improve type checking
  src/phaser/core/scene.js
  src/phaser/display/canvas/util.js
  src/phaser/geom/util/ellipse.js
  types/phaser/core/scene.d.ts
  types/phaser/core/scene.d.ts.map
  types/phaser/display/canvas/util.d.ts.map
  types/phaser/geom/util/ellipse.d.ts
  types/phaser/geom/util/ellipse.d.ts.map
Due: eslint, prettier --write

Improved test coverage, improved type checking
  src/phaser/core/dom.js
  src/phaser/core/signal.js
  src/phaser/core/timer.js
  src/phaser/display/display_object.js
  src/phaser/display/webgl/render_texture.js
  src/phaser/geom/util/circle.test.js
  src/phaser/geom/util/ellipse.test.js
  src/phaser/geom/util/line.js
  src/phaser/geom/util/line.test.js
  src/phaser/geom/util/matrix.test.js
  src/phaser/geom/util/point.test.js
  src/phaser/geom/util/polygon.test.js
  src/phaser/geom/util/rectangle.test.js
  src/phaser/geom/util/rounded_rectangle.test.js
  types/phaser/core/dom.d.ts.map
  types/phaser/core/signal.d.ts
  types/phaser/core/signal.d.ts.map
  types/phaser/core/timer.d.ts
  types/phaser/core/timer.d.ts.map
  types/phaser/display/display_object.d.ts
  types/phaser/display/display_object.d.ts.map
  types/phaser/display/webgl/render_texture.d.ts.map
Due: eslint, prettier --write

Improved type checking
  src/phaser/core/device_util.js
  src/phaser/core/game.js
  src/phaser/core/input_handler.js
  src/phaser/display/webgl/shader/complex.js
  src/phaser/display/webgl/shader/fast.js
  src/phaser/display/webgl/shader/normal.js
  src/phaser/display/webgl/shader/primitive.js
  src/phaser/display/webgl/shader/strip.js
  src/phaser/display/webgl/shader_manager.js
  src/phaser/display/webgl/texture.js
  types/phaser/core/device_util.d.ts.map
  types/phaser/core/game.d.ts.map
  types/phaser/display/webgl/shader/complex.d.ts
  types/phaser/display/webgl/shader/complex.d.ts.map
  types/phaser/display/webgl/shader/fast.d.ts
  types/phaser/display/webgl/shader/fast.d.ts.map
  types/phaser/display/webgl/shader/normal.d.ts
  types/phaser/display/webgl/shader/normal.d.ts.map
  types/phaser/display/webgl/shader/primitive.d.ts
  types/phaser/display/webgl/shader/primitive.d.ts.map
  types/phaser/display/webgl/shader/strip.d.ts
  types/phaser/display/webgl/shader/strip.d.ts.map
  types/phaser/display/webgl/shader_manager.d.ts
  types/phaser/display/webgl/shader_manager.d.ts.map
Due: eslint, prettier --write

Release v1.76.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Bumped nodejs github action version to 22.X
  .github/workflows/ci.yml
Due: none
