Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Updated npm packages
  package-lock.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Fixed issue with bitmap text color conversion
  README.md
  package-lock.json
  package.json
  src/phaser/display/bitmap_text.js
Due: eslint, prettier --write

Added basic typescript typecheck
  package.json
  tsconfig.json
Due: prettier --write

Updated npmignore
  .npmignore
Due: none

Release v1.12.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
