Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Updated npm packages
  package-lock.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Improve type checking
  src/phaser/core/animation.js
  src/phaser/core/animation_manager.js
  src/phaser/core/factory.js
  src/phaser/core/loader_parser.js
  src/phaser/display/graphics_data_util.js
  src/phaser/display/image.js
  src/phaser/display/sprite_util.js
  types/phaser/core/animation.d.ts
  types/phaser/core/animation_manager.d.ts
  types/phaser/core/factory.d.ts
  types/phaser/core/factory.d.ts.map
  types/phaser/core/loader_parser.d.ts
  types/phaser/core/loader_parser.d.ts.map
  types/phaser/display/graphics_data_util.d.ts
  types/phaser/display/graphics_data_util.d.ts.map
  types/phaser/display/image.d.ts
  types/phaser/display/image.d.ts.map
  types/phaser/display/sprite_util.d.ts
  types/phaser/display/sprite_util.d.ts.map
Due: eslint, prettier --write

Improve type checking
  src/phaser/core/signal.js
  src/phaser/core/timer.js
  src/phaser/core/tween_manager.js
  types/phaser/core/timer.d.ts
  types/phaser/core/timer.d.ts.map
Due: eslint, prettier --write

Release v1.26.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Improve type checking
  src/phaser/core/factory.js
  types/phaser/core/factory.d.ts
  types/phaser/core/factory.d.ts.map
  types/phaser/core/signal.d.ts
  types/phaser/core/signal.d.ts.map
  types/phaser/core/tween_manager.d.ts
  types/phaser/core/tween_manager.d.ts.map
Due: eslint, prettier --write

Release v1.27.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updated npm packages
  .eslintrc.json
Due: prettier --write

Improve github action
  .github/workflows/node.js.yml
Due: none

Added more exports for type checking
  src/index.js
Due: eslint, prettier --write

Updated button set frames api, added more exports for type checking, release v1.28.0
  README.md
  package-lock.json
  package.json
  src/index.js
  src/phaser/display/button.js
  types/index.d.ts
  types/index.d.ts.map
  types/phaser/display/button.d.ts
  types/phaser/display/button.d.ts.map
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
