Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

ci: pin GitHub Actions to commit SHAs and upgrade to latest
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: export cache, input, pointer, loader and loader-file types
  src/index.ts
  src/phaser/core/loader.ts
Due: eslint, prettier --write

build(deps): migrate to typescript 7
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(vscode): enable claude hooks in the workspace settings
  .vscode/settings.json
Due: prettier --write

build(deps): bump the github-actions group with 3 updates
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

build(deps): update dependencies
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): update non-major dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): update non-major dependencies
  pnpm-lock.yaml
Due: none

docs: trim always-loaded agent context
  AGENTS.md
Due: none

chore(deps): update pnpm and uv dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update pnpm dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update non-major pnpm dependencies
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies and clear resolved audit ignores
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependencies and disable the new one-var rule
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(types): enable noImplicitAny and resolve the resulting errors
  src/phaser/core/cache.ts
  src/phaser/core/device_util.ts
  src/phaser/core/dom.ts
  src/phaser/core/game.ts
  src/phaser/core/input.ts
  src/phaser/core/input_mouse.ts
  src/phaser/core/input_mspointer.ts
  src/phaser/core/input_touch.ts
  src/phaser/core/loader.ts
  src/phaser/core/loader_parser.ts
  src/phaser/core/scale_manager.ts
  src/phaser/core/signal.ts
  src/phaser/core/sound_manager.ts
  src/phaser/core/tween.ts
  src/phaser/core/tween_data.ts
  src/phaser/core/tween_manager.ts
  src/phaser/display/button.ts
  src/phaser/display/canvas/util.ts
  src/phaser/display/display_object.ts
  src/phaser/display/webgl/earcut.ts
  src/phaser/display/webgl/fast_sprite_batch.ts
  src/phaser/display/webgl/graphics.ts
  src/phaser/display/webgl/render_texture.ts
  src/phaser/display/webgl/shader/normal.ts
  src/phaser/display/webgl/shader_manager.ts
  src/phaser/display/webgl/sprite_batch.ts
  src/phaser/display/webgl/util.ts
  tsconfig.json
Due: eslint, prettier --write

feat(types): enable the zero-cost strictness flags
  tsconfig.json
Due: prettier --write

feat(types): enable noImplicitOverride, noUnusedLocals and noUnusedParameters
  src/phaser/core/cache.ts
  src/phaser/core/input_mouse.ts
  src/phaser/core/scene.ts
  src/phaser/core/stage.ts
  src/phaser/display/bitmap_text.ts
  src/phaser/display/button.ts
  src/phaser/display/canvas/renderer.ts
  src/phaser/display/graphics.ts
  src/phaser/display/group.ts
  src/phaser/display/image.ts
  src/phaser/display/text.ts
  tsconfig.json
Due: eslint, prettier --write

feat(types): adopt exactOptionalPropertyTypes
  tsconfig.json
Due: prettier --write

fix(types): keep DisplayObject.data a free-form payload
  src/phaser/display/display_object.ts
Due: eslint, prettier --write

fix(types): type DisplayObject.data as the free-form payload it is
  src/phaser/display/display_object.ts
Due: eslint, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update non-major dependencies and bump oxfmt to 0.65
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependencies and bump oxfmt to 0.66
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(types): replace any on the engine surfaces the game clients consume
  src/phaser/core/animation_manager.ts
  src/phaser/core/cache.ts
  src/phaser/core/dom.ts
  src/phaser/core/input.ts
  src/phaser/core/input_mouse.ts
  src/phaser/core/loader.ts
  src/phaser/core/scale_manager.ts
  src/phaser/core/scene_manager.ts
  src/phaser/core/signal.ts
  src/phaser/core/time.ts
  src/phaser/core/timer.ts
  src/phaser/display/display_object.ts
Due: eslint, prettier --write

feat(types): type the factory, group, input handler and text surfaces
  src/phaser/core/factory.ts
  src/phaser/core/input_handler.ts
  src/phaser/core/input_pointer.ts
  src/phaser/display/bitmap_text.ts
  src/phaser/display/group.ts
  src/phaser/display/text.ts
Due: eslint, prettier --write
