Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

build(deps): bumped github actions/checkout to v6
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

ci: adjusted publish release commit message format
  .github/workflows/publish.yml
Due: none

chore: do not auto format md files (breaks changelog generator output)
  package.json
Due: prettier --write

ci: generate complete changelogs
  .github/workflows/publish.yml
Due: none

ci(security): added pnpm audit build step
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore(security): protect agains npm supply chain attacks
  pnpm-workspace.yaml
Due: none

build(security): do not run ci.yml on pull requests
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

chore(lefthook): adjusted lefthook rule to do not fail on deleted files
  lefthook.yml
Due: none

build(deps): bumped dependency versions, added type aware lint plugins
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier --write

chore: improve typechecking
  src/phaser/core/animation_manager.js
  src/phaser/core/input_handler.js
  src/phaser/core/scale_manager.js
  src/phaser/display/bitmap_text.js
  src/phaser/display/display_object.js
  src/phaser/display/graphics.js
  src/phaser/display/image.js
  src/phaser/display/sprite_util.js
  src/phaser/display/webgl/texture.js
  src/phaser/geom/point.js
  src/phaser/geom/rectangle.js
  src/phaser/geom/util/point.js
  types/phaser/core/animation_manager.d.ts
  types/phaser/core/animation_manager.d.ts.map
  types/phaser/display/display_object.d.ts
  types/phaser/display/display_object.d.ts.map
  types/phaser/display/image.d.ts
  types/phaser/display/image.d.ts.map
  types/phaser/display/sprite_util.d.ts
  types/phaser/display/sprite_util.d.ts.map
  types/phaser/display/webgl/texture.d.ts
  types/phaser/display/webgl/texture.d.ts.map
  types/phaser/geom/point.d.ts
  types/phaser/geom/point.d.ts.map
  types/phaser/geom/util/point.d.ts
  types/phaser/geom/util/point.d.ts.map
Due: eslint, prettier --write

chore: enable type checking
  src/phaser/core/input_handler.js
  src/phaser/display/image.js
  types/phaser/core/input_handler.d.ts
  types/phaser/core/input_handler.d.ts.map
  types/phaser/display/image.d.ts
  types/phaser/display/image.d.ts.map
Due: eslint, prettier --write

chore: improve type checking
  src/phaser/core/sound_manager.js
  src/phaser/core/timer.js
  src/phaser/core/tween_manager.js
  types/phaser/core/sound_manager.d.ts
  types/phaser/core/sound_manager.d.ts.map
  types/phaser/core/timer.d.ts
  types/phaser/core/timer.d.ts.map
  types/phaser/core/tween_manager.d.ts
  types/phaser/core/tween_manager.d.ts.map
Due: eslint, prettier --write

refactor: improve type checking
  src/phaser/core/factory.js
  src/phaser/core/loader.js
  src/phaser/core/signal.js
  src/phaser/display/display_object.js
  src/phaser/display/text.js
  src/phaser/display/webgl/renderer.js
  types/phaser/core/factory.d.ts
  types/phaser/core/factory.d.ts.map
  types/phaser/core/loader.d.ts
  types/phaser/core/signal.d.ts
  types/phaser/core/stage.d.ts
  types/phaser/core/stage.d.ts.map
  types/phaser/display/bitmap_text.d.ts
  types/phaser/display/bitmap_text.d.ts.map
  types/phaser/display/display_object.d.ts
  types/phaser/display/display_object.d.ts.map
  types/phaser/display/graphics.d.ts
  types/phaser/display/graphics.d.ts.map
  types/phaser/display/group.d.ts
  types/phaser/display/group.d.ts.map
  types/phaser/display/image.d.ts
  types/phaser/display/image.d.ts.map
  types/phaser/display/sprite_batch.d.ts
  types/phaser/display/sprite_batch.d.ts.map
  types/phaser/display/text.d.ts
  types/phaser/display/webgl/renderer.d.ts
Due: eslint, prettier --write

chore: improve type checking
  .npmignore
  src/phaser/display/display_object.js
Due: eslint, prettier --write

chore: improve type checking
  src/phaser/core/stage.js
  src/phaser/display/bitmap_text.js
  src/phaser/display/display_object.js
  src/phaser/display/graphics.js
  src/phaser/display/group.js
  src/phaser/display/image.js
  src/phaser/display/sprite_batch.js
  src/phaser/geom/util/point.js
  types/phaser/core/stage.d.ts
  types/phaser/core/stage.d.ts.map
  types/phaser/display/display_object.d.ts
  types/phaser/display/display_object.d.ts.map
  types/phaser/display/group.d.ts
  types/phaser/display/group.d.ts.map
  types/phaser/display/sprite_batch.d.ts
  types/phaser/display/sprite_batch.d.ts.map
Due: eslint, prettier --write

chore: cleanup
  src/phaser/core/stage.js
  src/phaser/display/bitmap_text.js
  src/phaser/display/graphics.js
  src/phaser/display/group.js
  src/phaser/display/image.js
Due: eslint, prettier --write

chore: improve type checking
  src/phaser/display/display_object.js
Due: eslint, prettier --write

chore: improve type checking
  types/phaser/core/stage.d.ts.map
  types/phaser/display/bitmap_text.d.ts.map
  types/phaser/display/display_object.d.ts
  types/phaser/display/display_object.d.ts.map
  types/phaser/display/graphics.d.ts.map
  types/phaser/display/group.d.ts
  types/phaser/display/group.d.ts.map
  types/phaser/display/image.d.ts.map
Due: eslint, prettier --write

docs: improve jsdocs
  src/phaser/core/animation.js
  src/phaser/core/frame.js
  src/phaser/core/game.js
  src/phaser/display/display_object.js
  src/phaser/display/image.js
  types/phaser/core/animation.d.ts
  types/phaser/core/animation.d.ts.map
  types/phaser/core/frame.d.ts
  types/phaser/core/game.d.ts
  types/phaser/core/game.d.ts.map
  types/phaser/display/display_object.d.ts
  types/phaser/display/display_object.d.ts.map
  types/phaser/display/image.d.ts
  types/phaser/display/image.d.ts.map
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/geom/point.js
  types/phaser/geom/point.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/geom/line.js
  src/phaser/geom/rectangle.js
  src/phaser/geom/util/point.js
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/geom/circle.js
  src/phaser/geom/ellipse.js
  src/phaser/geom/line.js
  src/phaser/geom/matrix.js
  src/phaser/geom/polygon.js
  src/phaser/geom/rounded_rectangle.js
Due: eslint, prettier --write
