Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/display/bitmap_text.js
  src/phaser/display/button.js
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/display/canvas/buffer.js
  src/phaser/display/canvas/masker.js
  src/phaser/display/canvas/util.js
  src/phaser/display/graphics_data.js
  src/phaser/display/graphics_data_util.js
  src/phaser/display/group.js
  src/phaser/display/image.js
  src/phaser/display/sprite_batch.js
  src/phaser/display/sprite_util.js
  src/phaser/display/text.js
  src/phaser/display/webgl/util.js
  src/phaser/util/math.js
  types/phaser/display/bitmap_text.d.ts
  types/phaser/display/bitmap_text.d.ts.map
  types/phaser/display/button.d.ts
  types/phaser/display/button.d.ts.map
  types/phaser/display/canvas/buffer.d.ts
  types/phaser/display/graphics_data.d.ts
  types/phaser/display/group.d.ts
  types/phaser/display/text.d.ts
  types/phaser/geom/circle.d.ts
  types/phaser/geom/ellipse.d.ts
  types/phaser/geom/line.d.ts
  types/phaser/geom/matrix.d.ts
  types/phaser/geom/polygon.d.ts
  types/phaser/geom/rectangle.d.ts
  types/phaser/geom/rounded_rectangle.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  .npmignore
  babel.config.js
  src/phaser/display/canvas/pool.js
  src/phaser/geom/util/circle.js
  src/phaser/geom/util/ellipse.js
  src/phaser/geom/util/line.js
  src/phaser/geom/util/matrix.js
  src/phaser/geom/util/polygon.js
  src/phaser/geom/util/rectangle.js
  src/phaser/geom/util/rounded_rectangle.js
Due: eslint, prettier --write

docs: improve jsdoc comments
  pnpm-lock.yaml
  src/phaser/display/canvas/graphics.js
  src/phaser/display/canvas/renderer.js
  src/phaser/display/canvas/tinter.js
  src/phaser/display/text.js
  src/phaser/display/webgl/abstract_filter.js
  src/phaser/display/webgl/blend_manager.js
  src/phaser/display/webgl/fast_sprite_batch.js
  src/phaser/display/webgl/filter_manager.js
  src/phaser/display/webgl/filter_texture.js
  src/phaser/display/webgl/graphics_data.js
  src/phaser/display/webgl/render_texture.js
  src/phaser/display/webgl/shader/complex.js
  src/phaser/display/webgl/shader/normal.js
  src/phaser/display/webgl/shader/primitive.js
  src/phaser/display/webgl/shader/strip.js
  src/phaser/display/webgl/sprite_batch.js
  src/phaser/display/webgl/texture.js
Due: eslint, prettier --write

docs: regenerated types
  types/phaser/display/canvas/renderer.d.ts
  types/phaser/display/text.d.ts
  types/phaser/display/text.d.ts.map
  types/phaser/display/webgl/abstract_filter.d.ts
  types/phaser/display/webgl/blend_manager.d.ts
  types/phaser/display/webgl/fast_sprite_batch.d.ts
  types/phaser/display/webgl/filter_manager.d.ts
  types/phaser/display/webgl/filter_texture.d.ts
  types/phaser/display/webgl/graphics_data.d.ts
  types/phaser/display/webgl/render_texture.d.ts
  types/phaser/display/webgl/shader/complex.d.ts
  types/phaser/display/webgl/shader/normal.d.ts
  types/phaser/display/webgl/shader/primitive.d.ts
  types/phaser/display/webgl/shader/strip.d.ts
  types/phaser/display/webgl/sprite_batch.d.ts
  types/phaser/display/webgl/texture.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/core/signal.js
  src/phaser/core/timer.js
  src/phaser/display/canvas/renderer.js
  src/phaser/display/webgl/renderer.js
  types/phaser/core/timer.d.ts
  types/phaser/display/canvas/renderer.d.ts
  types/phaser/display/webgl/renderer.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/display/graphics.js
  src/phaser/display/webgl/earcut_node.js
  types/phaser/display/graphics.d.ts
  types/phaser/display/webgl/earcut_node.d.ts
Due: eslint, prettier --write

docs: improved jsdoc comments
  src/phaser/display/webgl/base_texture.js
  src/phaser/display/webgl/earcut.js
  src/phaser/display/webgl/fast_sprite_batch.js
  src/phaser/display/webgl/filter_manager.js
  src/phaser/display/webgl/graphics.js
  src/phaser/display/webgl/mask_manager.js
  src/phaser/display/webgl/shader/fast.js
  src/phaser/display/webgl/shader/normal.js
  src/phaser/display/webgl/shader_manager.js
  src/phaser/display/webgl/sprite_batch.js
  src/phaser/display/webgl/stencil_manager.js
  src/phaser/display/webgl/texture.js
  src/phaser/display/webgl/texture_util.js
  types/phaser/display/webgl/base_texture.d.ts
  types/phaser/display/webgl/earcut.d.ts
  types/phaser/display/webgl/fast_sprite_batch.d.ts
  types/phaser/display/webgl/filter_manager.d.ts
  types/phaser/display/webgl/shader/fast.d.ts
  types/phaser/display/webgl/shader/normal.d.ts
  types/phaser/display/webgl/shader_manager.d.ts
  types/phaser/display/webgl/sprite_batch.d.ts
  types/phaser/display/webgl/stencil_manager.d.ts
  types/phaser/display/webgl/texture.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/core/loader.js
  src/phaser/core/raf.js
  src/phaser/core/sound_manager.js
  src/phaser/core/tween.js
  types/phaser/core/loader.d.ts
  types/phaser/core/raf.d.ts
  types/phaser/core/sound_manager.d.ts
  types/phaser/core/tween.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/core/animation_manager.js
  src/phaser/core/event_manager.js
  src/phaser/core/sound.js
  src/phaser/core/time.js
  src/phaser/core/timer_event.js
  types/phaser/core/animation_manager.d.ts
  types/phaser/core/event_manager.d.ts
  types/phaser/core/sound.d.ts
  types/phaser/core/time.d.ts
  types/phaser/core/timer_event.d.ts
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/core/device.js
  src/phaser/core/device_util.js
  src/phaser/core/factory.js
  src/phaser/core/frame_data.js
  src/phaser/core/frame_util.js
  src/phaser/core/scene.js
  src/phaser/core/scene_manager.js
  src/phaser/core/signal.js
  src/phaser/core/tween_manager.js
  src/phaser/core/world.js
  types/phaser/core/device.d.ts.map
  types/phaser/core/factory.d.ts
  types/phaser/core/frame_data.d.ts
  types/phaser/core/frame_data.d.ts.map
  types/phaser/core/scene.d.ts
  types/phaser/core/scene.d.ts.map
  types/phaser/core/scene_manager.d.ts
  types/phaser/core/scene_manager.d.ts.map
  types/phaser/core/signal.d.ts
  types/phaser/core/signal.d.ts.map
  types/phaser/core/tween_manager.d.ts
  types/phaser/core/tween_manager.d.ts.map
  types/phaser/core/world.d.ts
  types/phaser/core/world.d.ts.map
Due: eslint, prettier --write

docs: improve jsdoc comments
  src/phaser/core/cache.js
  src/phaser/core/dom.js
  src/phaser/core/loader_parser.js
  src/phaser/core/stage.js
  src/phaser/core/timer.js
  src/phaser/core/tween_data.js
  types/phaser/core/cache.d.ts
  types/phaser/core/dom.d.ts
  types/phaser/core/loader_parser.d.ts.map
  types/phaser/core/stage.d.ts
  types/phaser/core/timer.d.ts
  types/phaser/core/tween_data.d.ts
Due: eslint, prettier --write

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): bump dependency versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: added signal async support
  src/phaser/core/signal.js
  src/phaser/core/signal.test.js
  src/phaser/geom/circle.test.js
  src/phaser/geom/ellipse.test.js
  src/phaser/geom/line.test.js
  src/phaser/geom/matrix.test.js
  src/phaser/geom/point.test.js
  src/phaser/geom/rectangle.test.js
  src/phaser/geom/rounded_rectangle.test.js
  src/phaser/geom/util/circle.test.js
  src/phaser/geom/util/ellipse.test.js
  src/phaser/geom/util/line.test.js
  src/phaser/geom/util/matrix.test.js
  src/phaser/geom/util/point.test.js
  src/phaser/geom/util/polygon.test.js
  src/phaser/geom/util/rectangle.test.js
  src/phaser/geom/util/rounded_rectangle.test.js
  src/phaser/util/math.test.js
Due: eslint, prettier --write

feat: added async wait to timer
  src/phaser/core/timer.js
Due: eslint, prettier --write

chore: improve type checking
  src/phaser/core/timer.js
Due: eslint, prettier --write

build(deps): bumped package versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: regenerated types
  types/phaser/core/loader_parser.d.ts.map
  types/phaser/core/signal.d.ts
  types/phaser/core/signal.d.ts.map
  types/phaser/core/timer.d.ts
  types/phaser/core/timer.d.ts.map
Due: eslint, prettier --write

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: none

fix: remove audio from decode watchlist if decode fails
  src/index.js
  src/phaser/core/sound_manager.js
  types/index.d.ts
  types/phaser/core/sound_manager.d.ts.map
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
