Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Disabled eslint rule
  eslint.config.js
Due: eslint, prettier --write

Bumped package versions
  package-lock.json
Due: prettier --write

Migrate from jest to vitest
  .github/workflows/ci.yml
  .npmignore
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.js
Due: eslint, prettier --write

Migrated to pnpm package manager
  .github/dependabot.yml
  .github/workflows/ci.yml
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bumped package versions
  pnpm-lock.yaml
Due: none

Bumped package versions
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
