Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Cleanup loaded, raise maxParallelDownloads to 16
  src/phaser/core/game.js
  src/phaser/core/loader.js
Due: eslint, prettier --write

Release v1.0.30
  README.md
  package-lock.json
  package.json
Due: prettier --write

Added audio sprite
  src/index.js
  src/phaser/core/sound_manager.js
  src/phaser/core/sound_sprite.js
Due: eslint, prettier --write

Release v1.0.31
  README.md
  package-lock.json
  package.json
Due: prettier --write

Release v1.0.32
  README.md
  package-lock.json
  package.json
  src/phaser/core/sound_sprite.js
Due: eslint, prettier --write

Cleanup
  src/phaser/core/device.js
  src/phaser/core/device_util.js
  src/phaser/core/game.js
Due: eslint, prettier --write

Disable gl.viewport call on each render frame
  src/phaser/display/webgl/renderer.js
Due: eslint, prettier --write

Release v1.0.33
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updated npm packages
  package-lock.json
Due: prettier --write

Cleanup
  src/index.js
  src/phaser/core/game.js
  src/phaser/core/raf.js
  src/phaser/core/raf_fb.js
  src/phaser/core/raf_to.js
  src/phaser/core/time.js
  src/phaser/display/canvas/renderer.js
  src/phaser/display/webgl/render_texture.js
  src/phaser/display/webgl/renderer.js
Due: eslint, prettier --write

Cleanup, make clear before render default false
  src/phaser/core/game.js
Due: eslint, prettier --write

Release v1.0.34
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Cleanup video support and deprecated spritesheet formats
  README.md
  src/phaser/core/animation_parser.js
  src/phaser/core/cache.js
  src/phaser/core/const.js
  src/phaser/core/device.js
  src/phaser/core/device_util.js
  src/phaser/core/loader.js
Due: eslint, prettier --write

Release v1.0.35
  README.md
  package-lock.json
  package.json
Due: prettier --write

Release v1.0.36
  README.md
  package-lock.json
  package.json
  src/phaser/core/animation_parser.js
  src/phaser/core/cache.js
  src/phaser/core/const.js
  src/phaser/core/loader.js
Due: eslint, prettier --write

Cleanup loader
  src/phaser/core/loader.js
Due: eslint, prettier --write

Release v1.0.37
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup game class and simplify ticker
  src/phaser/core/game.js
  src/phaser/core/raf.js
Due: eslint, prettier --write

Release v1.0.38
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup
  src/phaser/core/game.js
Due: eslint, prettier --write

Release v1.0.39
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup
  src/phaser/core/cache.js
  src/phaser/core/const.js
  src/phaser/core/loader.js
  src/phaser/core/time.js
  src/phaser/core/tween.js
  src/phaser/core/tween_data.js
  src/phaser/core/tween_manager.js
Due: eslint, prettier --write

Release v1.0.40
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup state manager and ticker
  src/phaser/core/game.js
  src/phaser/core/scene.js
  src/phaser/core/scene_manager.js
Due: eslint, prettier --write

Release v1.0.41
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup ticker
  src/phaser/core/game.js
  src/phaser/core/time.js
Due: eslint, prettier --write

Release v1.1.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Simplify exports
  src/index.js
  src/phaser/core/scene_manager.js
  src/phaser/util/string.js
Due: eslint, prettier --write

Release v1.1.1
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup
  src/index.js
  src/phaser/display/webgl/shader/complex.js
  src/phaser/display/webgl/shader/fast.js
  src/phaser/display/webgl/shader/normal.js
  src/phaser/display/webgl/shader/primitive.js
  src/phaser/display/webgl/shader/strip.js
  src/phaser/util/math.js
  src/phaser/util/string.js
Due: eslint, prettier --write

Release v1.1.2
  README.md
  package-lock.json
  package.json
Due: prettier --write

Release v1.1.3
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  webpack.config.babel.js
Due: eslint, prettier --write

Fix failing github workflow
  .github/workflows/node.js.yml
Due: none

Simplify github workflow
  .github/workflows/node.js.yml
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
