Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Bumped package versions
  package-lock.json
Due: prettier --write

Bumped slack github action version
  .github/workflows/ci.yml
Due: none

Bumped package versions
  package-lock.json
  package.json
Due: prettier --write

Bumped npm package versions
  package-lock.json
  package.json
Due: prettier --write

Cleanup eslint config
  eslint.config.js
Due: eslint, prettier --write

Improve canvas2d fallback handling, try to figure out why canvas.getContext('2d') returns null
  CHANGES.md
  README.md
  package-lock.json
  package.json
  src/phaser/core/game.js
  src/phaser/display/canvas/util.js
Due: eslint, prettier --write

Improve error handling tags
  README.md
  package-lock.json
  package.json
  src/phaser/core/game.js
Due: eslint, prettier --write

Improve error handling
  README.md
  package-lock.json
  package.json
  src/phaser/core/animation_manager.js
  src/phaser/core/game.js
  src/phaser/core/sound_manager.js
  src/phaser/display/canvas/renderer.js
  src/phaser/display/display_object.js
  src/phaser/display/webgl/renderer.js
  src/phaser/display/webgl/util.js
  src/phaser/geom/util/point.js
Due: eslint, prettier --write

Improve error reporting tags
  src/phaser/core/sound_manager.js
Due: eslint, prettier --write

Bumped package version
  CHANGES.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

Try to fix InvalidStateError safari exception with canvas feature detection
  src/phaser/display/canvas/buffer.js
  src/phaser/display/canvas/pool.js
  src/phaser/display/canvas/renderer.js
  src/phaser/display/canvas/tinter.js
Due: eslint, prettier --write

Improve syntax
  src/phaser/display/canvas/tinter.js
Due: eslint, prettier --write

Release v1.48.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
