Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

Adjusted package groups
  package.json
Due: prettier --write

Bumped package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Improve github workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

Set eslint rule to warn level
  eslint.config.js
Due: eslint, prettier --write

Improve eslint config
  eslint.config.js
Due: eslint, prettier --write

Bumped package versions
  .oxlintrc.json
  pnpm-lock.yaml
Due: prettier --write

chore(lint): integrated commitlint
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: update dependencies
  pnpm-lock.yaml
Due: none

docs: added changelog and license files
  CHANGELOG.md
  commitlint.config.js
Due: eslint, prettier --write

ci: integrated git cliff to generater changelogs
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none
