Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

Use npm trusted publishing
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  README.md
Due: none

Updated copyright headers
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  LICENSE
Due: none

Use Slack with publish.yml
  .github/workflows/publish.yml
Due: none

Use latest ubuntu for github workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

Allow write contents for publish.yml
  .github/workflows/publish.yml
Due: none

Added missing build script to package.json
  package.json
Due: prettier --write

Release v1.84.0
  package.json
Due: prettier --write

Bumped package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Improve github workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

Added explicit github workflow permission definition
  .github/workflows/ci.yml
Due: none

Add SECURITY.md
  SECURITY.md
Due: none

Updated pnpm scripts
  package.json
Due: prettier --write

Use logger only and drop exception handler
  src/phaser/core/animation_manager.js
  src/phaser/core/game.js
  src/phaser/core/loader.js
  src/phaser/core/sound_manager.js
  src/phaser/display/canvas/tinter.js
  types/phaser/core/animation_manager.d.ts.map
  types/phaser/core/game.d.ts
  types/phaser/core/game.d.ts.map
  types/phaser/core/loader.d.ts.map
  types/phaser/core/sound_manager.d.ts.map
  types/phaser/display/canvas/tinter.d.ts.map
Due: eslint, prettier --write

Release v1.85.0
  package.json
Due: prettier --write
