Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

ES6 module fixes
  README.md
  package-lock.json
  package.json
  src/phaser/core/cache.js
  tsconfig.json
  types/phaser/core/cache.d.ts
  types/phaser/core/cache.d.ts.map
Due: eslint, prettier --write

Added release notes file
  CHANGES.md
Due: none

Updated tsconfig
  tsconfig.json
Due: prettier --write

Improve unit testing
  .gitignore
  jest.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Improve ignore files
  .eslintignore
  .prettierignore
Due: none

Improve prettier configuration, reformatted code
  .prettierrc.json
  prettier.config.js
  src/phaser/core/animation_manager.js
  src/phaser/core/animation_parser.js
  src/phaser/core/factory.js
  src/phaser/core/game.js
  src/phaser/core/input.js
  src/phaser/core/input_handler.js
  src/phaser/core/input_pointer.js
  src/phaser/core/loader.js
  src/phaser/core/scale_manager.js
  src/phaser/core/signal.js
  src/phaser/core/tween.js
  src/phaser/display/button.js
  src/phaser/display/canvas/masker.js
  src/phaser/display/display_object.js
  src/phaser/display/graphics.js
  src/phaser/display/graphics_data_util.js
  src/phaser/display/sprite_util.js
  src/phaser/display/text.js
  src/phaser/display/webgl/graphics.js
  src/phaser/display/webgl/renderer.js
  src/phaser/display/webgl/shader/normal.js
  src/phaser/geom/line.js
  src/phaser/geom/util/rectangle.js
Due: eslint, prettier --write

Migrate to *.config.js usage
  .lintstagedrc.json
  lint-staged.config.js
Due: eslint, prettier --write

Enforce eslint fix by default, added jest globals pkg
  package-lock.json
  package.json
Due: prettier --write

Improve code quality (jsdoc import quotes)
  lint-staged.config.js
  prettier.config.js
Due: eslint, prettier --write

Migrate to *.config.js format
  .babelrc.json
  babel.config.js
Due: eslint, prettier --write

Updated packages
  package-lock.json
Due: prettier --write

Improve eslint config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Improve project configuration
  .browserslistrc
  package.json
Due: prettier --write

Relax using various node versions
  .npmrc
Due: none

Updated packages
  package-lock.json
  package.json
Due: prettier --write

Updated packages and tuned jest, tsc configs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Updated packages and npmignore
  .npmignore
  package-lock.json
Due: prettier --write

Added texture not found error notification
  src/phaser/core/animation_manager.js
Due: eslint, prettier --write

Release v1.42.0
  CHANGES.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

Cleanup
  src/phaser/core/animation_manager.js
Due: eslint, prettier --write

Migrate from husky to lefthook
  .husky/pre-commit
  .husky/prepare-commit-msg
  lefthook.yml
  lint-staged.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Cleanup
  .husky/prepare-commit-msg
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
