Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: drop eslint, use oxlint only
  .npmignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: use oxlint only
  package.json
Due: prettier --write

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: only audit production package
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore: migrate from prettier to oxfmt
  .npmignore
  .oxfmtrc.json
  .prettierignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: eslint, prettier --write

build(deps): bump dependency versions
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(deps): bump slack github action to v3
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore(security): set pnpm minimum release age to 1 day
  pnpm-workspace.yaml
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
