Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Updated npmignore
  .npmignore
Due: none

Fixed usage as npm package
  .npmignore
  package.json
Due: prettier --write

Updated readme
  README.md
Due: none

Updated npm packages and descriptor
  package-lock.json
  package.json
Due: prettier --write

Added npmjs badge
  README.md
Due: none

Added nodejs engine version to package.json
  package.json
Due: prettier --write

Added node.js github workflow
  .github/workflows/node.js.yml
  .npmignore
Due: none

Updated readme with node.js github workflow status badge
  README.md
Due: none

Enabled jsdoc rules for eslint
  .eslintrc.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Added keywords to package.json
  package.json
Due: prettier --write

Added jsdoc comments
  src/phaser/geom/util/circle.js
  src/phaser/geom/util/ellipse.js
  src/phaser/geom/util/line.js
  src/phaser/geom/util/matrix.js
  src/phaser/geom/util/point.js
  src/phaser/geom/util/polygon.js
  src/phaser/geom/util/rectangle.js
  src/phaser/geom/util/rounded_rectangle.js
  src/phaser/util/math.js
  src/phaser/util/string.js
Due: eslint, prettier --write

Formatted sources
  .babelrc.json
  .eslintrc.json
  src/index.js
  test/phaser/core/math.test.js
  test/phaser/core/signal.test.js
  webpack.config.babel.js
Due: eslint, prettier --write

Added jsdoc comments
  .eslintignore
  package.json
  src/phaser/core/device_util.js
  src/phaser/core/frame_util.js
  src/phaser/display/canvas/util.js
  src/phaser/display/graphics_data_util.js
  src/phaser/display/sprite_util.js
  src/phaser/display/webgl/texture_util.js
  src/phaser/display/webgl/util.js
Due: eslint, prettier --write

Added jsdoc comments
  src/phaser/core/device_util.js
  src/phaser/core/tween_easing.js
  src/phaser/display/canvas/graphics.js
  src/phaser/display/canvas/masker.js
  src/phaser/display/canvas/pool.js
  src/phaser/display/canvas/tinter.js
  src/phaser/display/canvas/util.js
  src/phaser/display/webgl/earcut.js
  src/phaser/display/webgl/graphics.js
  src/phaser/display/webgl/mask_manager.js
Due: eslint, prettier --write

Added jsdoc comments
  src/phaser/core/animation_parser.js
  src/phaser/core/loader_parser.js
  src/phaser/display/webgl/earcut.js
  src/phaser/display/webgl/graphics.js
Due: eslint, prettier --write

Removed eslint disable entries
  src/phaser/core/array_set.js
  src/phaser/core/scene.js
  src/phaser/core/scene_manager.js
  src/phaser/core/sound_manager.js
  src/phaser/core/tween_easing.js
  src/phaser/display/webgl/earcut.js
  src/phaser/display/webgl/graphics.js
  src/phaser/geom/polygon.js
Due: eslint, prettier --write

Migrate to jest for unit testing
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  test/phaser/core/math.test.js
  test/phaser/core/signal.test.js
  test/phaser/geom/matrix.test.js
  test/phaser/geom/point.test.js
  test/phaser/geom/rectangle.test.js
  test/setup.js
Due: eslint, prettier --write

Migrate to jest for unit testing
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Improved loader with asset pack loading
  src/phaser/core/const.js
  src/phaser/core/loader.js
Due: eslint, prettier --write

Released v1.0.3
  README.md
  package.json
Due: prettier --write

Cleanup
  .gitignore
  .npmignore
Due: none

Updated npm packages
  package-lock.json
Due: prettier --write

Updated ignore files
  .eslintignore
  .gitattributes
  .gitignore
  .npmignore
  .prettierignore
  bitbucket-pipelines.yml
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
