Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Bump pkg version
  README.md
Due: none

Bumped package versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updated vitest config
  vitest.config.js
Due: eslint, prettier --write

Bumped package versions
  pnpm-lock.yaml
Due: none

Bump slack github action to v2.1.1, cleanup github dependabot yml
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
