Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

Release v1.2.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

Release v1.2.1
  README.md
  package-lock.json
  package.json
  src/phaser/core/device_util.js
Due: eslint, prettier --write

Updated npm packages
  package-lock.json
Due: prettier --write

Updated npm packages
  package-lock.json
  package.json
Due: prettier --write

Release v1.2.2
  README.md
  package-lock.json
  package.json
  src/index.js
Due: eslint, prettier --write

Release v1.2.3
  README.md
  package-lock.json
  package.json
  src/index.js
Due: eslint, prettier --write

Cleanup
  bitbucket-pipelines.yml
Due: none

Bump version
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updated npm keywords
  package.json
Due: prettier --write

Optimize text canvas context setting
  src/phaser/display/text.js
Due: eslint, prettier --write

Release v1.4.0
  README.md
  package-lock.json
  package.json
  src/index.js
Due: eslint, prettier --write
