Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint",
  "*.{js,ts,json}": "prettier --write"
}

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use eslint plugin jsdoc typescript flavor
  eslint.config.js
Due: eslint, prettier --write

test: optimize vitest performance, use standard config format
  vitest.config.js
Due: eslint, prettier --write

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: none

chore: fixed lint errors
  .oxlintrc.json
Due: prettier --write

chore: disabled failing lint error
  eslint.config.js
Due: eslint, prettier --write
