Repository vpmedia/phaser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore(security): bumped uuid pkg version
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): bump dependency versions
  pnpm-lock.yaml
Due: none

fix: fixed ts6 compat issues
  tsconfig.json
Due: prettier --write

docs: expand AGENTS.md with overview, tech stack, and project guide
  AGENTS.md
Due: none

build(deps): bump dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(lint): switch oxlint categories to error and disable current violations
  .oxlintrc.json
Due: prettier --write

chore: enable blockExoticSubdeps in pnpm workspace
  pnpm-workspace.yaml
Due: none

chore: migrate from jsdom to happy-dom
  package.json
  pnpm-lock.yaml
  vitest.config.js
Due: eslint, prettier --write

docs(agents): add Documentation section with llms.txt links
  AGENTS.md
Due: none

docs(agents): standardize structure and commit-config wording
  AGENTS.md
Due: none

docs(agents): remove non-existent TypeScript llms.txt link
  AGENTS.md
Due: none

docs: refresh AGENTS.md
  AGENTS.md
Due: none

chore: gitignore .claude/settings.local.json
  .gitignore
Due: none

chore: update dependencies
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies and disable oxlint prefer-named-capture-group rule
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update 2 package(s)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json}
